[submodule "src/pointcloud_ground_segmentation"]
	path = src/pointcloud_ground_segmentation
	url = git@github.com:multirobotplayground/pointcloud_ground_segmentation.git
	branch = dev
[submodule "src/exploration_tools"]
	path = src/exploration_tools
	url = git@github.com:multirobotplayground/exploration_tools.git
[submodule "src/communications"]
	path = src/communications
	url = git@github.com:multirobotplayground/communications.git
	branch = dev
